
*, *::before, *::after {
  box-sizing: border-box;
  font-family: cursive;
}


body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:hsl(180, 83%, 50%);
  

}
body.correct {
  background:hsl(131, 51%, 38%);
  align-items: center;


}
body.wrong {
  background: hsl(5, 83%, 50%);
}
/* now I want to style my container so that it looks like a card */
.container{
  width: 800px;
  max-width: 80%;
  background: hsl(83, 64%, 50%);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 10px 2px;
  align-items: center;
  margin-left: 40px;
  
}

/* #landing_dia {
 align-items: center;
 width: 600px;
 max-width: 80%;
 word-wrap: normal;
 display: inline-flex;
} */
/* this allows for my buttons to dsplay in columns */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, Auto);
  gap: 10px;
  margin: 20px, 0;
}

.btn {
  border: 1px solid hsl(var(hue), 100%, 30%);
  background-color:hsl(298, 100%, 68%);
  font-weight: bolder;
  border-radius: 40px;
  padding: 20px 10px;
  outline: none;
  font-size: 18px;

}

.btn:hover {
  color: white;
}

.btn.correct {
  background: hsl(131, 51%, 38%);

}

.btn.wrong {
  background: hsl(5, 83%, 50%);
}

.strt_btn, .nxt_btn{
  font-size: 1.5rem;
  font-weight: bold;
  padding:10px 20px;
}

.cntrls {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* this hides elements on the landing screen */
.hide {
  display: none;

}

#question {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 25px;

}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}
p {
  font-weight: lighter;
  font-size: 1.5rem;

}

  
  